// Colors
$white: #ffffff;

$nav: #212731;
$background: #fbfcfd;
$button: #1b88f4;
$badge: #ff7724;
$offer: #f2f4f7;
$rating: #f3f9ff;
$borderSearch: #e1e4e6;
$star-color: #ffb80f;
$highlightRating: #fff4ed;
$tickBackground: #ebf5ff;
$price: #5c6874;
$mrp: #9fa9b3;
// Font Colors
$primaryFont: #2c384a;
$secondaryFont: #4b5665;
$fontOffer: #074786;
$fontDanger: #ef4c5d;
$fontNav: #d1d6da;
$fontRating: #074786;
$fontFooter: #b6bdc4;
$fontSignup: #5c6874;
